*{
    padding: 0;
    margin: 0;
}
body{
    padding: 1rem;

}
.card{
    width: 400px;
    color: #504B38;
    background-color: #EBE5C2;
    border: 2px solid #B9B28A;
    margin: 1rem auto;
    border-radius: 0.75rem;
    padding: 12px;
}